/***************** For All Pages *********************/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FCF3EB;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
}

ul {
    margin:0;
    padding:0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

#container { /*To wrap everything from header to footer*/
    position: relative;
    min-height: 100%;
    height: auto; /*it's important to make footer fixed*/
    background-color: #FCF3EB;
}

.floatClear { /*To remove float setting after the element which has this class*/
    clear: both;
}

/********************Header CSS************************/
.headerContent{
    top:0;
    left:0;
    width:100%;
    height: auto;
    background-color: white;
    position: fixed;
    list-style-type: none;
    -webkit-box-shadow: 0 3px 40px 5px #E5E5E5;
    -moz-box-shadow:    0 3px 40px 5px #E5E5E5;
    box-shadow:         0 3px 40px 5px #E5E5E5;
    z-index: 100;
}

.headerContent a{
    text-decoration: none;
    color: black;
}

/*Not display drop down menu in noromal sized screen*/
.dropMenu {
    display: none;
}

.logo{
    width: 15%;
    float: left;
    position: absolute;
    background-color: white;
}

.logo img{
    width: 100%;
    margin: 15px 50px 0 50px;
}
.blogs,.navBar{
    float:inherit;
    list-style-type: none;
    overflow: hidden;
    margin: 0 auto;
}

.navBar li,.blogs li{
    float: left;
    padding: 25px 0;
}

.navBar{
    width: 55%;
    font-size: 1em;
    margin-left: 400px;
}

.navBar a{
    display: block;
    margin: 5px 20px 0 0;
    text-align:center;
}

.blogs{
    width: 40%;
    float: right;
    margin-top: -60px;
    margin-right: -300px;
}

.blogs li{
    width: 10%;
    margin: -20px 0;
}
.blogs img{
    width:45%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media (max-width:1000px){
    .navBar, .blogs{
        display: none;
    }

    .dropMenu{
        display: inline-block;
        position: relative;
        background-color: white;
    }

    .menuIcon{
        width: 4%;
        float: right;
        margin: 15px 10px 4px 10px;
        cursor: pointer;
    }

    .dropdown-content{
        display: none;
        position: absolute;
        min-width: 140px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        background-color: white;
        right: 0;
        padding-top: 50px;
        opacity: 0.5;
    }

    .dropdown-content a{
        color: black;
        padding: 12px 16px;
        display: block;
    }

    .dropdown-content a:hover{
        background-color: beige;
        text-decoration: none;
        color: black;
    }

    .dropMenu:hover .dropdown-content{
        display: block;
    }

}

/******************* Footer CSS ***********************/
footer {
    position: relative;
    height: auto;
    width: 100%;
    padding: 10px 0;
    top: 5%;
    bottom: 0;
    text-align: center;
    background-color: #fff;
}

footer p {
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
}

footer img {
    width: 7em;
    margin: 0 15px;
}
.supporterTop, .supporterBottom, .threeLogo {
    display: inline-block;
}
.threeLogo img { /*to make them equal ratio*/
    width: 4em;
}
#whiteBox {
    background-color: #fff;
    height: 0.2em;
    width: 100%;
    position: relative;
}
/******************* Index CSS ************************/
.OpenPageContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

.OpenPageContainer .OpenPageTitle{
    position: absolute;
    z-index: 999;
    text-align: center;
    margin-top: 120px;
    width: 100%;
    padding: 200px 0;
}

.OpenPageContainer::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: url("../Images/riceFields2.gif") no-repeat 0 -50px;
    background-size: cover;
    opacity: 0.5;
}

.OpenPageTitle h1{
    font-size: 2em;
    color:white;
    font-family: "Courier New", Courier, monospace;
    font-weight: 550;
    text-shadow: 2px 2px 5px #CCCCCC;
}
/*
.OpenPageGifCover{
    position: relative;
}
.OpenPageGifCover:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    box-shadow: 0 0 40px 10px #ffffff inset;;
}
.IndexOpenPageGif{
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity:0.5;
    display: block;
}*/

.OpenPageTitle{
    margin-bottom: 20px;
}

.indexWordHeader {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.indexWordHeader p {
    width: auto;
    text-align: left;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 0;
}

.indexContent {
    display: flex;
    height: 450px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.indexLeft {
    width: 700px;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
}

.indexLeft p {
    width: 660px;
    margin-left: 0;
    text-align: left;
}

.indexRight {
    height: 315px;
    width: 560px;
    margin: auto 15px auto auto;
}

/* News Slider*/
.news-holder {
    max-width: 700px;
    height:300px;
    margin: 0 auto;
    font-family: "Segoe UI","Trebuchet MS", Arial, sans-serif;
    font-size: 13px;
    background:white;
}

.news-holder * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.news-headlines {
  list-style: none;
  position: relative;
}

.news-headlines li {
    padding: 7px;
    position: relative;
    z-index: 20;
    color: #dddddd;
    width:100%;
  background:#888888;
    min-height:60px;
  font-size:14px;
}
.nh-anim {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }

.news-headlines li:hover, .news-headlines a:hover {
      cursor: pointer;
      background:#333333;
      color:white;
  }
.selected{
   background:#333333;
 }
.news-headlines .highlight {
     width: 100%;
     background: #888888;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 10;
  }
.news-headlines {
   float: left;
   width: 30%;
}
.news-preview {
   float: left;
   width: 70%;
   position: relative;
   z-index: 5;
   position: relative;
}

.news-preview img {
    display: block;
    width: 100%;
    height: auto;
    max-height:275px;
    margin: 0 auto 5px auto;
  }

.news-content {
    position: absolute;
    background: #333333;
    z-index: 10;
    padding: 10px;
    top: 0;
    left: 0;
    right:0;
    display: none;
}
.resume{
  position:absolute;
  bottom:15px;
  left:10px;
  right:10px;
  background:rgba(0,0,0,0.8);
  padding:10px;
  color:#bbb;
}

.title {
  display:block;
  color:#dddddd;
  margin:0 0 12px 0;
  font-size:18px;
}
.title:hover{
  background:none;
  text-decoration:underline;
}
.top-content {
    display: block;
}
/*************** Waitinglist Page CSS *******************/
#waitingMain {
    height: 100%;
    padding-bottom: 50px;
}

.waitingheader, p h2{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.tableDiv {
    height: auto;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid;
}

.tableDiv table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.listHeader {
    background-color: #44AFDD;
    position: relative;
}

.listHeader h1 {
    text-align: center;
    height: 100px;
    padding-top: 50px;
}

.userWait {
    border: 2px solid;
}


/******************* News Page CSS ***********************/

.newsHeader h1 {
    text-align: center;
    height: 100px;
    padding-top: 100px;
}

.news{
    padding: 70px 50px;
}

/**************** Technology Page CSS ********************/
.techWordHeader{
    padding-top: 100px;
}
.techWordHeader p {
    text-align: center;
    width: 80%;
    padding: auto;
}

.techWordHeader h2{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.techVideo {
    width: 40%;
    float: left;
    margin-left: 5%;
}

.techVideo iframe {
    width: 100%;
}

.techWord {
    width: 50%;
    height: 350px;
    float: right;
    margin-right: 5%;
}

.techWord2 { display: none;}

.techDetail {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    width: 80%;
    border: 2px solid;
}

.techAdvantage, p, h1{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.advantageDetail {
    width: 80%;
    margin: auto;
}

.linkBoxes {
    display: flex;
    height: 400px;
    width: 55%;
    margin: 40px auto 40px;
}

.leftBox {
    margin-right: auto;
    width: 300px;
    text-align: center;
}

.leftBox h1 { font-size: 26px;}

.leftBox p, .rightBox p {
  font-size: 20px;
  font-weight: bold;
  color: #505050;
  padding: 0.5em;
  display: inline-block;
  line-height: 1.3;
  background: #dbebf8;
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
}

.leftBox p:before , .rightBox p:before {
  content: '●';
  color: white;
  margin-right: 8px;
}
.rightBox {
    margin-left: auto;
    width: 300px;
    text-align: center;
}

.rightBox h1 { font-size: 26px;}

/**************** Contact Us Page CSS ********************/

.contactWordHeader h1{
    padding: 20px;
}

.contactHeader h1 {
    text-align: center;
    height: 100px;
    padding-top: 30px;
}


.contactWordHeader, p h2 {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top:100px;
}

.contactWrapper {
    color:#5A2F01;
    padding: 30px 0;
    display: flex;
    border: 2px solid #5A2F01;
    border-radius: 10px;
    background-color: rgba(255,255, 255, 0.6);
    width: 70%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.contactText {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

#nameWarning, #emailWarning, #textWarning { visibility: hidden;}

.formWarning p {
    font-size : 12px;
    color: red;
    margin: 0;
    padding: 0;
}

.contactText {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.formWarning { display: none;}

.radioMargin { margin: 0;}

.leftForm {
    width: 45%;
    height: 500px;
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: auto;
}

.leftForm input {
    width: 75%;
}
.rightContact {
  margin-top: 30px;
    height: 500px;
    width: 45%;
}

.rightContact h2 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.contactInforText {
    font-size: 20px;
    font-weight: bold;
}

.innerContact {
    width: auto;
    height: 400px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.innerContact p {
    text-align: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.radio-inline {
    width: 50%;
    display: inline;
  }

.contactRadio { margin-right: 10px;}

.radioMargin{
    margin-top: 20px;
    margin-bottom: 3px;
}
.radioMargin input { width: 5%;}
.contactWrapper textarea { margin-top: 10px;}

.contactSocial img {
    margin-left: 20px;
    height: 8%;
    width: 8%;
}

#contactSubmit { /*Submit Button settings*/
    background-color: #1abc9c;
    border-radius: 4px;
    color: #fff;
    margin-top: 0px;
    margin-left: 12%;
    font-size: 18px;
    width: 50%;
    line-height: 40px;
    -webkit-transition: none;
    transition: none;
    box-shadow: 0 3px 0 #0e8c73;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
#contactSubmit:hover {
    background-color: #31c8aa;
    box-shadow: 0 3px 0 #23a188;
}
#contactSubmit:active {
    top: 3px;
    box-shadow: none;
}

/**************** Contact Us Result Page CSS ********************/
#conResultMain {
    display: block;
    height: 400px;
    padding-top: 50px;
    background-image: url('../images/riceFields.gif');
}

#conResultMsg p {
    margin-top: 60px;
    padding-top: 10px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, .5);
}

#contactSubmit { /*Submit Button settings*/
    background-color: #1abc9c;
    border-radius: 4px;
    color: #fff;
    margin-top: 15px;
    margin-left: 12%;
    font-size: 18px;
    width: 50%;
    line-height: 40px;
    -webkit-transition: none;
    transition: none;
    box-shadow: 0 3px 0 #0e8c73;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
#contactSubmit:hover {
    background-color: #31c8aa;
    box-shadow: 0 3px 0 #23a188;
}
#contactSubmit:active {
    top: 3px;
    box-shadow: none;
}

/**************** About Us Page CSS ********************/
#aboutMain { background-color: #FCF3EB;}

.aboutHeader {
    background-color: #44AFDD;
    position: relative;
}

.aboutHeader h1 {
    text-align: center;
    height: 100px;
    font-size: 36px;
    padding-top: 25px;
}

.aboutMainHead {
    margin-bottom: 20px;
}
.aboutMainHead h1{
    margin-top: 100px;
}
.aboutFlex {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}

.aboutFlex img { /*Picture*/
    width: 60%;
    margin-left: 30%;
}

.aboutLeft {
    width: 48%;
    height: 350px;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.aboutRight {
    width: 50%;
    height: 350px;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.aboutRight h2 {
    text-align: center;
}

.aboutRight p {
    text-align: left;
    margin: 0 auto 30px auto;
    width: 70%;
}

.aboutInner {
    width: 50%;
    margin: auto;
}

.aboutInner a { /*Learn More Button*/
    width:70%;
    margin: auto;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#fff;
    background-color:#49a9d4;
    box-shadow:2px 2px #555;
    border-radius:5px;
}

.aboutInner a:hover{ /*Learn More Button*/
    text-decoration:none;
    background-color: #fff;
    transition: 0.4s;
}

.aboutWordHeader {
    width: 80%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.aboutWordHeader h1 {
    text-align: center;
}

.aboutWordHeader p {
    text-align: left;
}

.aboutStory {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.aboutStory h1 {
    text-align: center;
}

.aboutStory p {
    text-align: left;
    margin: 0 auto 0;
}
/*************Responsive setting******************/

/*For Tablet Devices*/
@media only screen and (max-width: 1080px) {

/******* Technology Page Responsive(1080px) ***********/
.techWordHeader{
    padding-top: 100px;
}

.techWordHeader p {
    text-align: center;
    width: 80%;
    padding: auto;
}

.techWordHeader h2{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.techImage {
    width: 40%;
    float: left;
    margin-left: 5%;
}

.techImage img {
    width: 100%;
    height: 350px;
    margin-left: 3%;
}

.techWord {
    width: 50%;
    height: 350px;
    float: right;
    margin-right: 5%;
}

.techWord2 { display: none;}

.techDetail {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    width: 80%;
    border: 2px solid;
}

.techAdvantage, p, h1{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.advantageDetail {
    width: 80%;
    margin: auto;
}

.advantageDetail p {
    visibility: hidden;
}

.linkBoxes {
    display: flex;
    height: 400px;
    width: 55%;
    margin: 40px auto 40px;
}

.leftBox {
    margin-right: auto;
    width: 300px;
    text-align: center;
}

.leftBox h1 { font-size: 26px;}

.leftBox p, .rightBox p {
  font-size: 20px;
  font-weight: bold;
  color: #505050;
  padding: 0.5em;
  display: inline-block;
  line-height: 1.3;
  background: #dbebf8;
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
}

.leftBox p:before , .rightBox p:before {
  content: '●';
  color: white;
  margin-right: 8px;
}
.rightBox {
    margin-left: auto;
    width: 300px;
    text-align: center;
}

.rightBox h1 { font-size: 26px;}
/*For Mobile Devices*/
@media only screen and (max-width: 500px) {

  /******************* Footer CSS(500px) ***********************/

  footer p {
    font-size: 0.7em;
  }

  footer img {
      width: 5em;
      margin: 0 15px;
  }
  .supporterTop, .supporterBottom {
      display: inline;
  }

  .threeLogo img { /*to make them equal ratio*/
      width: 4em;
  }
  #whiteBox {
      background-color: #fff;
      height: 0.2em;
      width: 100%;
      position: relative;
  }

  /********About Us Responsive(500px)****************/
  .aboutHeader h1 {
      height: 80px;
      font-size: 18px;
      padding-top: 20px;
  }

  .aboutMainHead h1 {
      margin-top: 20px;
      font-size: 24px;
  }

  .aboutLeft {
      width: 80%;
      height: 200px;
      margin-top: 50px;
      margin-left: auto;
  }

  .aboutLeft img {
      height: 200px;
  }
  .aboutRight {
      width: 70%;
      margin: 0 auto auto 15%;
      font-size: 14px;
  }

  .aboutInner a {
      font-size:16px;
      width: 88%;
  }

  .aboutWordHeader {
      width: 90%;
      margin-top: 140px;
      font-size: 14px;
  }

  .aboutStory { font-size: 14px;}

  .aboutWordHeader h1, .aboutStory h1 {
      font-size: 22px;
  }

  /*********** Contact Us Page(500px) CSS *************/

  .contactWordHeader h1{
      font-size: 30px;
      padding-bottom: 0px;
  }

  .contactWordHeader, p h2 {
      padding-top:50px;
  }

  .contactWrapper {
      width: 90%;
  }

  .contactText {
      font-size: 16px;
      margin-top: 10px;
  }

  .formWarning p {
      width: 60%;
      margin: 0;
      padding: 0;
      font-size: 10px;
  }

  .radioMargin { margin: 0;}

  .contactWrapper {
      display: block;
      height: 950px;
  }

  .leftForm {
      width: 100%;
      height: 500px;
      margin-top: 30px;
      margin-left: 10%;
  }

  .leftForm h2 {  font-size: 22px;}

  .leftForm input {
      width: 70%;
  }

  .rightContact {
      margin-top: 80px;
      margin-left: 8%;
      height: 500px;
      width: 100%;
      font-size: 14px;
  }

  .rightContact h2 {
      margin-top: 0;
      font-size: 22px;
      margin-left: 10px;
      margin-right: 10px;
  }

  .radio-inline { display: block; }

  .radioMargin input { width: 5%;}

  .contactSocial img {
      margin-left: 25px;
      height: 10%;
      width: 12%;
  }

  #contactSubmit { /*Submit Button settings*/
      line-height: 30px;
  }
}
