/* For all pages. */

table, th, td {
    border: 1px solid black;
}

table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
}

/* Waitinglist page CSS. */

.waitingheader, p h2{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* NewsPage CSS */

.newsHeader {
    background-color: aqua;
}

.newsHeader h1 {
    text-align: center;
    height: 100px;
    padding-top: 50px;
}
