/* For all pages. */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
}

ul {
    margin:0;
    padding:0;
}

li {
    list-style: none;
}

#container { /*To wrap everything from header to footer*/
  position: relative;
  min-height: 100%;
}

/********************Footer CSS************************/

footer {
  position: absolute;
  bottom: 0;
  background-color: #EACEA7;
}

footer a {
  color: #5A2F01;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

footer p { margin: 0;}

#footerLogo, #footerMid, #footerRight {
  height: 200px;
  background-color: #EACEA7;
  padding-top: 20px;
  color: #5A2F01;
}

#footerLogo {
  width: 20%;
  float: left;
}

#footerLogo img, p { /*logo image*/
  width:100%;
  padding: 10px;
}

#footerMid {
  width: 55%;
  float: left;
}

#footerMid table, td, th {
  border-style:none;
  border:none;
}

#footerMid table {
  width:100%;
}

#footerRight {
  width: 22%;
  margin-left: 30px;
  float: left;
  font-size: 16px;
  text-align: left;
}

#footerRight img { /*SNS Icons*/
  width: 18%;
  margin-left:10px;
}

#footerSns { margin-left: 15%; }

.fInforHead {
  font-weight: bold;
  font-size: 18px;
}
/************************************************/

/* Waitinglist page CSS. */

.waitingheader, p h2{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* NewsPage CSS */

.newsHeader {
    background-color: aqua;
}

.newsHeader h1 {
    text-align: center;
    height: 100px;
    padding-top: 50px;
}
