/********************Header CSS************************/
#header{
    top:0;
    left:0;
    width:100%;
    background-color: #ABC8C3;
    position: fixed;
    list-style-type: none;
    
}
.logo{
    width: 20%;
    float: left;
    padding: 20px;
    
}
.logo img{
    width: 40px;
}

.logo a{
    text-decoration: none;
    color: black;
}
.blogs,.navBar{
    float:right;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-right: 150px;
    
}

.navBar li,.blogs li{
    float: left;
}

.navBar a,.blogs a{
    display: block;
    color:black;
    padding: 10px 16px;
    text-align:center;
    text-decoration: none;
}

.navBar img{
    width: 30px;
}

.blogs img{
    width:30px;
    padding: 0 5px;
}










